<article class="flex-item">
    <header>
        <div class="item subject"><%= homework.subject %></div>
        <% if homework.due_date != nil %>  
            <div class="item date"><%= homework.due_date %></div>
            <% @days_to_complete = (homework.due_date.yday - Date.today.yday)%>
            <% if @days_to_complete == 1%>
                <div class="reminder">you have <%= @days_to_complete %> day to complete this task</div>
            <% elsif @days_to_complete > 0 %>
                <div class="reminder">you have <%= @days_to_complete %> days to complete this task</div>
            <% else %>
                <div class="reminder">this assignment is late by <%= -1 * @days_to_complete%> days</div>
            <% end %>
        <% else %>
            <div class="item date"> no time-line</div>
        <% end %>
    </header>
    <div class="item content"><%= homework.content %></div>
    <footer>
        <div class="item done"><%= link_to '<button class="finished" type="submit">done</button>'.html_safe, homework, method: :delete, remote: true %></div>
        <div class="item edit"><%= link_to 'edit', edit_homework_path(homework.id)%></div>
    </footer>
    <button type="submit" class="get-notes">view notes</button>
    <div style="display: none;"class="note-section">
        <ul style="none" id="notes-<%=homework.id%>">
            <% if homework.notes.present? %>
                    <% homework.notes.each do |note|%>
                        <%= render note %>
                    <% end %>
            <% end %>
        </ul>
        <%= render :partial => 'notes/form', locals: {homework: homework}%>
    </div>
</article>